*.pyc
*.swp
*.swo
*.mat
*.txt
*.dat
*.npy
*.npz
*.tga
*.mp4
*.pth
*.jpg
*.jpeg
*.gif
*.json
*.bin
*.pkl
*.mp4
*.csv
*.tfevents*

2.point_cloud_generation/data/*
3.deep_model/data/*
0.preliminary/SMPL_python_v.1.0.0
